.footer__column-links {
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    transition: opacity .9s ease;
  }

  .footer__column-link:hover { 
    opacity: 50%;
  }